* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

html {
  font-size: 62.5%;
  font-family: "verdana";
  background-color: #053554;
}

::placeholder {
  color: #ccc8c8;
}

button:focus {
  outline: 0;
}

button:hover {
  cursor: pointer;
}

.screen {
  display: flex;
  flex-direction: column;
  align-items: center;
}