* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

html {
  font-size: 62.5%;
  font-family: "verdana";
  background-color: #053554;
}

::placeholder {
  color: #ccc8c8;
}

button:focus {
  outline: 0;
}

button:hover {
  cursor: pointer;
}

.navbar {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.navbar__section {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 2rem;
}
.navbar__section img {
  height: 4rem;
  width: 4rem;
}
.navbar__section p {
  margin-left: 2rem;
  font-size: 2rem;
  text-decoration: none;
  color: white;
}